body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
    margin: 20px;
}

h1 {
    color: #1a4ba5;
    font-size: 2em;
    margin-bottom: 5px;
}

.scheduled {
    color: #1a4ba5;
    font-weight: bold;
}

.description {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #666;
}

.description a {
    color: #1a4ba5;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 48%;
    margin-bottom: 15px;
    text-align: left;
}

.form-group.full-width {
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.submit-button {
    background-color: #1a4ba5;
    color: white;
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.submit-button:hover {
    background-color: #0f3585;
}

.location-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between the location input fields */
}
